<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Level Upp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <h1>Welcome to Level Upp!</h1>
        <p>Complete daily quests and level up your life!</p>
        <br>
        <a href="/login"><button class="home-button">Login</button></a>
        <a href="/signup"><button class="home-button">Sign Up</button></a>
    </div>
</body>
</html>
